.formulario{
    display: flex;     
    flex-direction: column; 
    justify-content: center;
    height: 500px;
    text-align: center;
    font-size: 20px;
    margin-left: 500px;
    margin-right: 500px;
}
.borrar__form{
    transition: color
}
.borrar__form a:hover{
    color: black;
    background-color: rgb(128, 128, 128);
}
.enviar__form{
    transition: color
}
.enviar__form a:hover{
    color: black;
    background-color: rgb(128, 128, 128);
}