#footer{
    background-image: linear-gradient(#FFB097, white);
    height: 30vh;
    border: hidden;
    margin-top: 10px;
    padding-top: 150px;
}
.datos__footer{
    list-style: none;
    background-color: white;
    font-size: 18px;
    line-height: 1.6;
}