.header{
    display: block;
    text-align: center;
    background-color: white;
}
.header__logo__img{
    width: 100px;

}
.header__logo__texto{
    color: black;
    font-size: 20px;

}
.header__secciones{
    text-align: center;
    position: sticky;
}

.nav-item{
    display: inline-block;
    width: 15%;
    text-align: center;
    font-size: 25px;    
    color: black;
    transition: color 2s;
}
.nav-item a:hover{
    background-color: #FFB097;
    color: black;
}