#noticias{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .noticia__uno{
      justify-self: start;
      align-self: center;
  }
  .noticia__dos{
      justify-self: center;
      align-self: center;
  }
  .noticia__tres{
      justify-self: end;
      align-self: center;
  }
  
  .novedades__previsional__img{
      height: 250px;
      width: 250px;
  }
  .novedades__previsional__texto{
      width: 400px;
      text-decoration: none;
  }
  .novedades__penal__img{
      height: 250px;
      width: 250px;
  }
  .novedades__penal__texto{
      width: 400px;
      text-decoration: none;
  }
  .novedades__civil__img{
      height: 250px;
      width: 250px;
  }
  .novedades__civil__texto{
      width: 400px;
      text-decoration: none;
  }