#noticias{
    display: grid;
}

  .novedades__previsional__img{
      height: 250px;
      width: 250px;
  }
  .novedades__previsional__texto{
      width: 400px;
      text-decoration: none;
  }
  .novedades__penal__img{
      height: 250px;
      width: 250px;
  }
  .novedades__penal__texto{
      width: 400px;
      text-decoration: none;
  }
  .novedades__civil__img{
      height: 250px;
      width: 250px;
  }
  .novedades__civil__texto{
      width: 400px;
      text-decoration: none;
  }