h1{
    padding: 4vh;
}

.conj_noticias{
    display: flex;    
    padding: 0 20vh;
    gap: 20vh;
}

.foto{
    height: 350px;
    width: 350px;
    margin-bottom: 3vh;
    margin-top: 7vh;
}

a:link {
    text-decoration: none;
}